In [ ]:
name="komal"
print(name)

komal

In [ ]:
age=21
print(age)

21

In [ ]:
if ("has android phone"):
 print(True)
else:
 print(False)

True

In [ ]:
name="komal"
print(name)
age=21
print(age)
if("has android phone"):
  print(True)
else:
  print(False)

komal
21
True

In [ ]:
#working with List
my_list=['violet',2,'yes']
my_list

['violet', 2, 'yes']

In [ ]:
print("my_fev_colour",my_list[0])

my_fev_colour violet

In [ ]:
print("I have {} pets.".format(my_list[1]))

I have 2 pets.

In [ ]:
my_list.append(18)

In [ ]:
my_list

['violet', 2, 'yes', 18, '18']

In [ ]:
my_list.remove('violet')

In [ ]:
my_list

[2, 'yes', 18, '18']

In [ ]:
my_list=['violet',2,'yes',18]

In [ ]:
my_list

['violet', 2, 'yes', 18]

In [ ]:
print("the list has {} element.".format(my_list))

the list has ['violet', 2, 'yes', 18] element.

In [ ]:
print("number of elements in the list:",len(my_list))

number of elements in the list: 4

In [ ]:
# Conditions & Loops
sum_of_numbers = []
for x in range(18,534):
    if x%7==0:
      sum_of_numbers.append(str(x))

In [ ]:
sum_of_numbers

['21',
 '28',
 '35',
 '42',
 '49',
 '56',
 '63',
 '70',
 '77',
 '84',
 '91',
 '98',
 '105',
 '112',
 '119',
 '126',
 '133',
 '140',
 '147',
 '154',
 '161',
 '168',
 '175',
 '182',
 '189',
 '196',
 '203',
 '210',
 '217',
 '224',
 '231',
 '238',
 '245',
 '252',
 '259',
 '266',
 '273',
 '280',
 '287',
 '294',
 '301',
 '308',
 '315',
 '322',
 '329',
 '336',
 '343',
 '350',
 '357',
 '364',
 '371',
 '378',
 '385',
 '392',
 '399',
 '406',
 '413',
 '420',
 '427',
 '434',
 '441',
 '448',
 '455',
 '462',
 '469',
 '476',
 '483',
 '490',
 '497',
 '504',
 '511',
 '518',
 '525',
 '532']

In [ ]:
# flaying to Bahamas
cost_of_flying_plane=5000
number_of_persons_signed_for_trip=29
company_charges_on_per_ticket=200
profit=(number_of_persons_signed_for_trip*company_charges_on_per_ticket)-cost_of_flying_plane

In [ ]:
profit

800

In [ ]:
print('the company makes of a profit of {} dollars'.format(profit))

the company makes of a profit of 800 dollars

In [ ]:
cost_of_flying_plane=5000
number_of_persons_signed_for_trip=12
company_charges_on_per_ticket=200
profit=(number_of_persons_signed_for_trip*company_charges_on_per_ticket)-cost_of_flying_plane
loss=(profit*company_charges_on_per_ticket)-cost_of_flying_plane

In [ ]:
profit

-2600

In [ ]:
loss

-525000

In [ ]:
#twitter sentiment analysis
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]
number_of_tweets=len(tweets)

In [ ]:
number_of_tweets

10

In [ ]:
## QUE 13 creating a list of happy word and sad word
happy_word=['great','excited','nice','happy']

In [ ]:
happy_word

['great', 'excited', 'nice', 'happy']

In [ ]:
sad_words=['sad','bad']

In [ ]:
sad_words

['sad', 'bad']

In [ ]:
sample_tweet = tweets[0]
sample_tweet

'Wow, what a great day today!! #sunshine'

In [ ]:
## QUE 14 detremining tweet is happy or not
is_tweet_happy = False
for word in happy_word:
    if word in sample_tweet:
        is_tweet_happy = True

In [ ]:
is_tweet_happy

True

In [ ]:
#QUE 15 determine number of happy tweets in data
number_of_happy_tweets = 0
for tweet in tweets:
    for word in happy_word:
        if word in tweet:
            print('{} (is happy tweet)'.format(tweet))
            number_of_happy_tweets+=1

Wow, what a great day today!! #sunshine (is happy tweet)
I'm really excited to learn Python with @JovianML #zerotopandas (is happy tweet)
This is a really nice song. #linkinpark (is happy tweet)
Apple announces the release of the new iPhone 12. Fans are excited. (is happy tweet)
Spent my day with family!! #happy (is happy tweet)
Freecodecamp has great coding tutorials. #skillup (is happy tweet)

In [ ]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6

In [ ]:
happy_fraction = number_of_happy_tweets/number_of_tweets

In [ ]:
happy_fraction

0.6

In [ ]:
sad_words=['sad','bad']

In [ ]:
sad_words

['sad', 'bad']

In [ ]:
## QUE 16 determing number of sad tweets in data
number_of_sad_tweets = 0
for tweet in tweets:
    for word in sad_words:
        if word in tweet:
            number_of_sad_tweets+=1

In [ ]:
number_of_sad_tweets

2

In [ ]:
sad_fraction = number_of_sad_tweets/number_of_tweets

In [ ]:
sad_fraction

0.2

In [ ]:
##QUE 16 b sentiment score
sentiment_score = happy_fraction-sad_fraction

In [ ]:
sentiment_score

0.39999999999999997

In [ ]:
## QUE 16 c about overall tweets are happy or sad
if sentiment_score>0:
    print("The overall tweets is happy")
else:
    print("The overall tweets is sad")

The overall tweets is happy

In [ ]:
## QUE 16 d determining the number of neutral tweets:
neutral_tweets = 0
neutral_tweets=number_of_tweets-(number_of_happy_tweets+number_of_sad_tweets)
neutral_tweets

2

In [ ]:
neutral_fraction=neutral_tweets/number_of_tweets
neutral_fraction

0.2